$color-headfoot: rgb(245, 246, 250);
$color-main: rgb(255, 255, 255);
$color-blue: rgb(57, 190, 246);
$color-green: rgb(69, 228, 146);
$color-red: rgb(255, 68, 95);
$color-logo: rgb(68, 61, 59);
$color-grey: rgb(232, 240, 242);
$color-yellow: rgb(253, 225, 99);
$color-redish: rgb(255, 71, 95);
$color-linear-gradient: linear-gradient(90deg, $color-redish, $color-yellow);
$color-linear-gradient--right: linear-gradient($color-yellow, $color-redish);
$color-linear-gradient--left: linear-gradient($color-yellow, $color-redish);
