$color-headfoot: rgb(245, 246, 250);
$color-main: rgb(255, 225, 255);
$color-blue: rgb(57, 190, 246);
$color-green: rgb(69, 228, 146);
$color-red: rgb(255, 68, 95);
$color-logo: rgb(68, 61, 59);
$color-grey: rgb(232, 240, 242);