.content__card {
    margin: 30px 5px;

    &--main {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .percentage {
        font-family: "Bitter", serif;
        font-size: 2.5rem;
        color: black;
      }
    }

    #progress {
      width: 80%;
      background-color: #ddd;
      border-radius: 50px;

      #bar {
        height: 20px;
        background: $color-linear-gradient;
        width: 0%;
      }
    }
  }

  // Screen width properties
  @media (min-width: 768px) {
    .content__card {
        margin-right: 5px;
  
        &--main {
          margin-top: 50px;
        }
      }
  }

  @media (min-width: 992px) {
    .content__card {
        margin: 0;
        max-height: 200px;
  
        &--main {
          margin-top: 0px;
        }
      }
  }