@import "../components/donut";
@import "../components/progressBar";
@import "../components/slider";

.main {
  background-color: $color-main;
}

// Aside
.aside {
  overflow: scroll;

  &__card--event {
    background-color: $color-blue;
    min-width: 300px;
    max-width: 300px;
  }

  &__card--favorite {
    background-color: $color-green;
    min-width: 300px;
    max-width: 300px;
  }

  &__card--message {
    background-color: $color-red;
    min-width: 300px;
    max-width: 300px;
  }
}

// Screen width properties
@media (min-width: 768px) {
  .graphs {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .graphs {
    flex-direction: column;
  }
  .aside {
    justify-content: center;
  }

  .mainContent {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .global {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;

    .aside {
      flex-direction: column;
      overflow: unset;
      justify-content: start;
      padding-top: 20px;
    }

    .mainContent {
      .graphs {
        margin-right: 10px;
      }
    }
  }
}
