$color-headfoot: #f5f6fa;
$color-main: #ffffff;
$color-blue: #39bef6;
$color-green: #45e492;
$color-red: #ff445f;
$color-logo: #443d3b;
$color-grey: #e8f0f2;
$color-yellow: #fde163;
$color-redish: #ff475f;
$color-linear-gradient: linear-gradient(90deg, $color-redish, $color-yellow);
$color-linear-gradient--right: linear-gradient($color-yellow, $color-redish);
$color-linear-gradient--left: linear-gradient($color-yellow, $color-redish);
