@import './navigation';

.header {
  background-color: $color-headfoot;

  &__content {
    display: flex;

    &--logo {
      color: $color-logo;
      font-size: xx-large;
      font-family: "Telex", sans-serif;
    }

    .dot {
      color: $color-red;
    }
  }
}
