.header {
    background-color: $color-headfoot;

    &__content {
        display: flex;

        &--logo {
            color: $color-logo;
            font-size: xx-large;
        }

        .dot {
            color: $color-red;
        }

        &__navbar {

            .menu {
                color: inherit;
            }
        }
    }


}